.erma-faq-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    border-radius: 3px;
    position: absolute;
    padding: 20px 15px;
    margin: auto;
    display: table;
    right: 0;
    left: 0;
    top: 10%;
    width: 60%;
    min-width: 600px;
    height: 85vh;
    box-sizing:border-box;
}

.erma-top-bar .erma-button-back {
    border: 1px solid #000000;
    background: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: #000000;
}

.erma-button-back img {
    vertical-align: middle;
}

.erma-button-back span {
    vertical-align: middle;
}



.erma-top-bar a {
    text-decoration: none;
    display: table;
    z-index: 1000;
    position: relative;
}

.erma-personalInformation-title {
    position: absolute;
    display: block;
    margin: auto;
    right: 0;
    left: 0;
    top: 3%;
}

    .erma-personalInformation-title h3 {
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

.erma-catogory-div .erma-combobox-control span {
    padding-top: 0;
    width: 100%;
}

.erma-catogory-div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.erma-FAQ-div{
    height: 62vh;
    overflow: auto;
}

.erma-category-combobox {
    width: 30%;
    margin-right: 10px;
}

.erma-subCategory-combobox {
    width: 30%;
    margin-right: 10px;
}

.erma-catogory-div .erma-search-input {
    margin-right: 10px;
}

.erma-catogory-div .erma-search-button {

}

.erma-faq-content .erma-search-button {
    background: #4F4F4F;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    color: #fff;
    padding: 0 25px;
    cursor: pointer;
}

.erma-faq-content .erma-faq-list {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

    .erma-faq-content .erma-faq-list h6 {
        margin-bottom: 10px;
    }

.erma-catogory-bodyDiv {
    height: 80%;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.erma-faq-list .erma-faqQuestion-content {
}

.erma-faqQuestion-content .erma-fap-download a {
    color: #496FF2;
}

.erma-faq-content ul {
    justify-content: center;
}

.FAQ_context a{
    color: #496FF2;
}


@media screen and (max-width: 1366px) {
    .erma-FAQ-div{
        height: 56vh;
    }
}