<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
      <section name="CrystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.7.20:1521/topprod;Persist Security Info=True;User ID=rma;Password=4321rma;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString2" connectionString="Provider=MSDAORA;Data Source=192.168.7.20:1521/topprod;Persist Security Info=True;Password=4321rma;User ID=rma" providerName="System.Data.OleDb"/>
    <add name="ConnectionString3_old" connectionString="Data Source=192.168.1.3/topprod;Persist Security Info=True;Password=cip2us91ab;User ID=cipherlab" providerName="System.Data.OleDb"/>
    <add name="ConnectionString3" connectionString="Data Source=192.168.7.20:1521/topprod;Persist Security Info=True;Password=cip2us91ab;User ID=cipherlab" providerName="System.Data.OleDb"/>
    <add name="ConnectionString4" connectionString="Data Source=topprod;Persist Security Info=True;Password=4321rma;User ID=rma" providerName="System.Data.OleDb"/>
    <add name="ConnectionString5" connectionString="Provider=MSDAORA;Data Source=topprod;Persist Security Info=True;Password=cipherlab;User ID=cipherlab" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="On" defaultRedirect="Error.html"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <!--<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
    <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
    <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
    <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669E0DDF0BB1AA2A"/>-->
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
    </httpModules>
    <httpRuntime maxRequestLength="10240"/>
    <neatUpload useHttpModule="true" maxNormalRequestLength="4096" maxRequestLength="5120" defaultProvider="FilesystemUploadStorageProvider" debugDirectory="object\NeatUpload">
      <providers>
        <add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload"/>
      </providers>
    </neatUpload>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="87700"/>
  </system.web>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/aspnet_client/system_web/4_0_30319/crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook"/>
    </staticContent>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="isDebug" value="true"/>
	  <add key="isDebugSIT" value="false"/>
      <!--正式-->
      <!--<add key="dbConnection" value="SERVER=192.168.7.20:1521/topprod;UID=rma;PWD=4321rma"/>-->
      <!--測試-->
      <add key="dbConnection" value="SERVER=192.168.7.20:1521/toptest;UID=rma;PWD=1234rma"/>
      <add key="WEBURL" value="https://e-rma-admin-sit.cipherlab.com.tw"/>
      <add key="PageSizeByFAQClass" value="10"/>
      <add key="PageSize" value="10"/>
      <add key="PageSize_Requested" value="10"/>
      <add key="DESKey" value="12857319"/>
      <add key="LanguageID" value="001"/>
      <add key="AsyncPostBackTimeout" value="600"/>
      <add key="ProgressSleepBySave" value="1"/>
      <add key="QueryDate_Month" value="-12"/>
      <add key="Requested_FilePath" value="D:\Buck\RMA\eRMA_Backend\FILE\customer\"/>
      <add key="Requested_VisualPath" value="/object/Customer/"/>
      <add key="Repair_FilePath" value="D:\Buck\RMA\eRMA_Backend\FILE\Repair\"/>
      <add key="Repair_VisualPath" value="/object/Repair/"/>
      <add key="Report_FilePath" value="D:\Buck\RMA\eRMA_Backend\FILE\Report\"/>
      <add key="Report_VisualPath" value="/FILE/Report/"/>
      <add key="SMTPServer" value="192.168.32.3"/>
      <add key="UserName" value="noreply@cipherlab.com.tw"/>
      <add key="Password" value="ylpER102"/>
      <add key="MailForm" value="noreply@cipherlab.com.tw"/>
      <add key="MailForm_NickName" value="RMA System"/>
      <add key="MailTo" value="buck.chang@cipherlab.com.tw"/>
      <add key="MailCC" value="buck.chang@cipherlab.com.tw"/>
      <add key="Requested_Upload_FilePath" value="D:\Buck\RMA\eRMA_Backend\FILE\UpLoad\"/>
      <add key="Requested_ExcelSample_VisualPath" value="/FILE/Sample/"/>
      <add key="Requested_Default_FarFarcNO" value="OTHER"/>
      <add key="RepairExtend_Name1" value="Extend"/>
      <add key="RepairExtend_URL1" value="http://e-rma-admin.cipherlab.com.tw/extend/ext_main.aspx"/>
      <add key="RepairBOM_No" value="CLHQ"/>
      <add key="PartsPic" value="/object/PartsPic/"/>
      <add key="TempExcelFolder" value="http://e-rma-admin.cipherlab.com.tw/UploadFile/"/>
      <add key="EmailAttachFolder" value="D:\Buck\RMA\eRMA_Backend\UploadFile"/>
      <add key="FontPath" value="D:\Buck\RMA\eRMA_Backend\Fonts"/>
      <add key="LogoPath" value="D:\Buck\RMA\eRMA_Backend"/>
      <add key="WaterMarkPic" value="D:\Buck\RMA\eRMA_Backend\BasePIC.jpg"/>
      <add key="RepairNo_flowCase01" value="CEAT,AU,AUS,JP_BYTE,NZ_PB_TECH,UK_FALA,AU_LAPTOP_KINGS"/>
      <add key="HQRepairNo" value="CLHQ"/>
      <add key="Customer_ExceptionCharge" value="Ni."/>
      <add key="FinanceEmail" value="Paula.Lee@cipherlab.com.tw,Katy.Lin@cipherlab.com.tw,hugh.wang@cipherlab.com.tw,Vivian@cipherlab.com.tw,rocio.peng@cipherlab.com.tw"/>
      <add key="RepairNo_flowCase02" value="CLHQ,CL_CHINA,CL_USA,JRC"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="RepairEmailCC" value="sunny@cipherlab.com.tw"/>
      <add key="RepairOKEmail" value="Miko@cipherlab.com.tw,Jean.Chen@cipherlab.com.tw"/>
      <add key="RequestNew_JP_BYTE_EmailCC" value="sunny@cipherlab.com.tw,gpm.cipherlab@bestyield.com"/>
      <add key="RequestNew_US_CL_MPLUS_EmailCC" value="danny@cipherlab.com,Peter.Yeh@cipherlab.com.tw,sunny@cipherlab.com.tw,rma@cipherlab.com"/>
      <add key="CLIENT_ID" value="ksRJvmwUD7$(*GH8sixMTryQ"/>
      <add key="CLIENT_SECRET" value="8e328SWKUasc04449ed95c5ba8eFD86e56#Ue328436c04Sh@ed95C5ba8EFd86e"/>
      <add key="Paypal_Token_Url" value="https://epay.cipherlab.com.tw/api/Token/GetToken"/>
      <add key="Paypal_CreatePayment_Url" value="https://epay.cipherlab.com.tw/api/Paypal/CreatePayment"/>
      <add key="Paypal_Return_Url" value="http://e-rma-admin.cipherlab.com.tw/Client_FlowCase01_Worklist.aspx"/>
      <add key="Paypal_Cancel_Url" value="http://e-rma-admin.cipherlab.com.tw/Client_FlowCase01_Worklist.aspx"/>
    </appSettings>
    <!--<system.webServer>
      <rewrite>
        <rules>
          <rule name="http to https" enabled="true" stopProcessing="true">
            <match url="(.*)"/>
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTPS}" pattern="^OFF$"/>
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false"/>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>-->
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50120000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>