body {
	scrollbar-face-color: #dcdcdc;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #c0c0c0;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #eeeeee;
	scrollbar-darkshadow-color: #eeeeee;
	scrollbar-base-color: #eeeeee;
	scrollbar-track-color: #eeeeee;
	background-color: White;

} 

A:link
{
	color: #326B9B;
	text-decoration: none;
}

.box_table  {border:1 none 000000; }
.box_table a {	color:#darkgreen;}
.box_table tr{	line-height:25px; background-color:expression((this.sectionRowIndex%2==0)?"#F9F9D3":"");}

.MenuFrame {width:780; height:320; border=1; background-color:#EEE2CC; }
A.menu-1 {COLOR: black; FONT-SIZE: 12px; font-family: "Arial"; FONT-WEIGHT:bold ; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT:20px }
A.menu-1:linked {COLOR: black; FONT-SIZE: 12px; font-family:  "Arial"; FONT-WEIGHT:bold; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
A.menu-1:visited {COLOR: black; FONT-SIZE: 12px; font-family:  "Arial"; FONT-WEIGHT:bold; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT:20px }
A.menu-1:hover {COLOR:white; FONT-SIZE: 12px; font-family:  "Arial"; FONT-WEIGHT:bold; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT:20px }
.menu-1 {COLOR: black; FONT-SIZE: 12px; font-family:  "Arial"; FONT-WEIGHT:bold; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT:20px }


A.submenu {COLOR: gray; FONT-SIZE: 14px; font-family: "Times New Roman"; FONT-WEIGHT:bold ; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
A.submenu:linked {COLOR: gray; FONT-SIZE: 14px; font-family: "Times New Roman"; FONT-WEIGHT:bold; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
A.submenu:visited {COLOR: gray; FONT-SIZE: 14px; font-family: "Times New Roman"; FONT-WEIGHT:bold; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
A.submenu:hover {COLOR: #B40000; FONT-SIZE: 14px; font-family: "Times New Roman"; FONT-WEIGHT:bold; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
.submenu {COLOR: gray; FONT-SIZE: 14px; font-family: "Times New Roman"; FONT-WEIGHT:bold; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }

A.default {COLOR:black; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 22px }
A.default:linked {COLOR:black; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 22px }
A.default:visited {COLOR:black; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 22px }
A.default:hover {COLOR:#B40000; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: underline; LETTER-SPACING: 0px; LINE-HEIGHT: 22px; FONT-WEIGHT:none }
.default {COLOR:black; FONT-SIZE:14px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 22px }

.default_Red {COLOR:Red; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 22px }


.Status {COLOR:Green; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
.Status_InProgress {COLOR:Red; FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }


.default_1 {COLOR:black; FONT-SIZE:10px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }
.Login {COLOR:black; FONT-SIZE:11px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 18px; height:18px;}

.TitleMsg {COLOR:black; FONT-SIZE:25px; font-family: "Arial";font-weight:bold; TEXT-DECORATION: none; LETTER-SPACING: 0px }
.Text_login {COLOR:#004778; FONT-SIZE:11px; font-family: "Arial"; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 16px; padding-left:0; }

.Text_Head {COLOR:#326B9B; background-color:#F7F2E5 ; text-align:center ;FONT-SIZE:12px; font-family: "Arial"; TEXT-DECORATION: bold; LETTER-SPACING: 0px; LINE-HEIGHT: 16px }


.Text_tittle {COLOR:#326B9B; text-align:Left ;FONT-SIZE:17px; font-family: "Arial"; TEXT-DECORATION: Bold; LETTER-SPACING: 0px; LINE-HEIGHT: 25px; padding-left:10px; }
.move_1{  background-color:#FFEEB2 }
.move_2{  background-color:#ffd74d}
.TR_1  {  background-color:#EEE2CC}

.news {COLOR:#6a6a6a; FONT-SIZE: 12px; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }

.note {COLOR: #A69928; FONT-SIZE:12px; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px }

.form{COLOR:#EFE9D9; font-family: "Times New Roman";FONT-WEIGHT: Bold;FONT-SIZE: 16px; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px} 
.form_div {color:#000000; width:97%; align:center; margin-top:2px; background:#EFE9D9; font-size:15px; font-family: Arial, Helvetica, sans-serif;}
.form_div textarea{	width:97%;}
.form_div fieldset{	padding:2px;}

.form_div_1 { width:100%; border:2px; align:center; border-left:2px none font-size; border-right:2px none font-size; border-top:2px none black; border-bottom:2px none 15px; border-color:black;  margin-top:7px; font-family: Arial, Helvetica, sans-serif}
.form_div_1 textarea{	width:97%;}
.form_div_1 fieldset{	padding:5px;}

.id{COLOR:#B40000; font-family: "Times New Roman";FONT-WEIGHT: Bold;FONT-SIZE: 16px; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px} 

.Button_1 {COLOR: #ffffff; background-color:#B8AD9A; font-family: "Arial"; FONT-SIZE:12px; TEXT-DECORATION: Bold; LETTER-SPACING: 1px; LINE-HEIGHT: 15px; }
.Button_2 {COLOR: #ffffff; background-color:#B8AD9A; font-family: "Arial"; FONT-SIZE:12px; TEXT-DECORATION: Bold; LETTER-SPACING: 1px; LINE-HEIGHT: 15px;}
.Problem_Edit {FONT-SIZE:11px; width:50px;  height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg.gif');padding-left:5px;}
.Problem_Fillin {FONT-SIZE:11px; width:50px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg.gif');padding-left:5px;}
.Pick {FONT-SIZE:11px; width:50px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg.gif');padding-left:5px;}
.Search {FONT-SIZE:11px; width:72px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_search.gif');padding-right:5px;}
.Confirm {FONT-SIZE:11px; width:96px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_confirm.gif');padding-left:5px;}
.Confirm_l {FONT-SIZE:11px; width:120px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg_120.gif');padding-left:5px;}
.Add {FONT-SIZE:11px; width:50px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg.gif');padding-left:5px;}

.Close_l {FONT-SIZE:11px; width:120px; height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_bg_120.gif');padding-left:5px;}
.ButtonCancel {FONT-SIZE:11px; width:100px;  height:19px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_Button.gif');padding-left:5px;}

.Message_OK {FONT-SIZE:11px; width:50px; height:25px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_Button.gif');padding-left:5px;}
.Message_Cancel {FONT-SIZE:11px; width:50px; height:25px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_Button.gif');padding-left:5px;}
.Message_Alert {FONT-SIZE:11px; width:50px; height:25px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_Button.gif');padding-left:5px;}

.worklist {FONT-SIZE:11px; width:72px; height:22px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/worklist.gif');}
.butOperation {FONT-SIZE:11px; width:72px; height:22px; border:medium none; color:#000000; TEXT-DECORATION: Bold;	cursor:pointer;	text-valign:top; text-align:center;font-weight:bold; font-family: Arial, Helvetica, sans-serif;background:url('../images/icon_confirm.gif');}

.welcome{COLOR:#B40000; font-family: "Times New Roman";FONT-WEIGHT: none;FONT-SIZE: 14px; TEXT-DECORATION: none; LETTER-SPACING: 0px; LINE-HEIGHT: 20px}

.TableListdownright {
	border-top: 1px none #CCCCCC;
	border-right: 1px solid #D1D1D2;
	border-bottom: 1px solid #D1D1D2;
	border-left: 1px none #CCCCCC;
}

.text12pt {
	FONT-SIZE: 12pt; LINE-HEIGHT: 15pt; 
}

.KeyPoint
{
	color: #993333;
	font-size: 9pt;	
}


/**************************************************************************
/AJAX
/**************************************************************************
/*Modal Popup*/
.modalBackground {
	background-color:#CCCCCC;
	filter:alpha(opacity=70);
	opacity:0.7;
}


.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 250px;
	height: 65px;
}

.ListSearchExtenderPrompt
{
	font-style:italic;
	color:Gray;
/*	color:Gray; */
	background-color:#E3D8BE;
}